/* Base nav button styles */
.nav-button {
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    transition: all 0.2s ease;
}

.nav-button img {
    width: 2rem;
    filter: invert(var(--timeline-icon-color));
    transition: transform 0.2s ease, filter 0.2s ease;
}

.nav-button:hover img {
    transform: translateY(0.0625rem) scale(1.3);
    filter: grayscale(0%) brightness(0); /* black */
}

/* Specific button positions */
#scroll-left {
    position: absolute;
    right: 2rem;
}

#scroll-right {
    position: absolute;
    left: 4rem;
}

#scroll-latest {
    position: absolute;
    left: 0;
}


#scroll-latest img {
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(var(--timeline-NOW-color));
}


